
params {
  conda_cache_dir = "conda"
  conda_create_options = ""
  conda_create_timeout = "20 min"
}


profiles {
  cq_singularity {
    singularity {
      singularity.enabled = true
      singularity.autoMounts = false
      singularity.cacheDir = "$HOME/singularity_containers/"
      docker.enabled = false
      podman.enabled = false
      shifter.enabled = false
      charliecloud.enabled = false
    }
  }

  rki_conda {
    conda {
      enabled = true
      cacheDir = params.conda_cache_dir
      createOptions = params.conda_create_options
      createTimeout = params.conda_create_timeout
    }
  }
  
  rki_mamba {
    conda {
      enabled = true
      useMamba = true
      cacheDir = params.conda_cache_dir
      createOptions = params.conda_create_options
      createTimeout = params.conda_create_timeout
    }
  }

  rki_slurm {
    executor {
      name = "slurm"
      queueSize = 20
      // exitReadTimeout = '360 sec'
      // submitRateLimit = '1/2s'
      // pollInterval = '30 sec' 
    }
    process {
      cache = "lenient"
      cpus = "1"

      withLabel: "low" {
          cpus = "5"
          memory = "5 GB"
          time = "1 h"
      }
    }
  }

  rki_priority {
    process {
      clusterOptions = '--partition=priority'
    }
  }
}


